Object Oriented programming example and practice

In [147]:
import numpy as np
import pandas as pd
import csv

#Clases

In [148]:
class Item():
  #class atributes
  pay_rate=0.9
  all=[]
  #class atributes can be defined for the class outside
  #like item.pay_rate=0.6
  def __init__(self,name: str,price:float,quantity: int):
    #Run validations
    assert price>=0, f"Price {price} needs to be non-negative"
    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"
    #assign self objects
    self.name=name
    self.quantity=quantity
    self.price=price
    #Save the instances that has been created.
    Item.all.append(self)
    print(f"{self.name} fue creado")
  def total_value(self):
    return self.price*self.quantity
  def apply_discount(self):
    self.price=self.price*self.pay_rate

  #__repr__ representing self objects like the description.
  #In the item.all
  def __repr__(self):
    return f"Item('{self.name}',{self.price},{self.quantity})"


# Item("Obj1",10,20)
Item0=Item("Obj1",100,3)
Item1=Item("Phone android",180,3)
Item2=Item("Phone Iphone",240,2)
Item3=Item("Laptop",100,5)
Item4=Item("Sanwich",10,3)

Obj1 fue creado
Phone android fue creado
Phone Iphone fue creado
Laptop fue creado
Sanwich fue creado

In [149]:
Item.all

[Item('Obj1',100,3),
 Item('Phone android',180,3),
 Item('Phone Iphone',240,2),
 Item('Laptop',100,5),
 Item('Sanwich',10,3)]

In [150]:
Item0.total_value()
Item0.apply_discount()
Item0.total_value()

270.0

In [151]:
for instance in Item.all:
  print(f"Nombre: {instance.name}")

Nombre: Obj1
Nombre: Phone android
Nombre: Phone Iphone
Nombre: Laptop
Nombre: Sanwich

#Class vs static methods

diferencia principal entre ambos: https://es.stackoverflow.com/questions/79446/cu%C3%A1l-es-la-diferencia-entre-staticmethod-y-classmethod-en-python#:~:text=Con%20los%20m%C3%A9todos%20de%20clase,argumento%20en%20lugar%20del%20self.&text=Los%20staticmethods%20son%20usados%20para,entre%20clases%20de%20la%20clase.

In [152]:
class Item():
  #class atributes
  pay_rate=0.9
  all=[]
  #class atributes can be defined for the class outside
  #like item.pay_rate=0.6
  def __init__(self,name: str,price:float,quantity: int):
    #Run validations
    assert price>=0, f"Price {price} needs to be non-negative"
    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"
    #assign self objects
    self.name=name
    self.quantity=quantity
    self.price=price
    #Save the instances that has been created.
    Item.all.append(self)
    print(f"{self.name} fue creado")
  def total_value(self):
    return self.price*self.quantity
  def apply_discount(self):
    self.price=self.price*self.pay_rate

  #__repr__ representing self objects like the description.
  #In the item.all
  def __repr__(self):
    return f"Item('{self.name}',{self.price},{self.quantity})"
  #You can get the instances from a csv file.
  #the @classmethod decorator will make Python pass the class of the instance it's called on as the first argument
  @classmethod
  def instantiate_from_csv(cls):
    with open("item.csv","r") as f:
      reader=csv.DictReader(f)
      items=list(reader)
      for i in items:
        Item(
            name=i.get("name"),
            price=float(i.get("price")),
            quantity=int(i.get("quantity"))
            )


  #The staticmethod never get the object as the first component.
  # the @staticmethod can be used to define a factory method that
  # returns class instances. It is unable to return a class object.
  #The isinstance() function checks if the object (first argument)
  #is an instance or subclass of classinfo class (second argument).
  @staticmethod
  def is_integer(num):
    if isinstance(num,float):
      return num.is_integer()
    elif isinstance(num,int):
      return True
    else:
      return False

# Item.is_integer()
# Item("Obj1",10,20)
Item0=Item("Obj1",100,3)
Item1=Item("Phone android",180,3)
Item2=Item("Phone Iphone",240,2)
Item3=Item("Laptop",100,5)
Item4=Item("Sanwich",10,3)

Obj1 fue creado
Phone android fue creado
Phone Iphone fue creado
Laptop fue creado
Sanwich fue creado

In [153]:
print(Item.all)

[Item('Obj1',100,3), Item('Phone android',180,3), Item('Phone Iphone',240,2), Item('Laptop',100,5), Item('Sanwich',10,3)]

In [154]:
# pandas=pd.read_csv("item.csv",sep=",")
# pandas

#Inheritance

In [155]:
class Item():
  #class atributes
  pay_rate=0.9
  all=[]
  #class atributes can be defined for the class outside
  #like item.pay_rate=0.6
  def __init__(self,name: str,price:float,quantity: int):
    #Run validations
    assert price>=0, f"Price {price} needs to be non-negative"
    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"
    #assign self objects
    self.name=name
    self.quantity=quantity
    self.price=price
    #Save the instances that has been created.
    Item.all.append(self)
    print(f"{self.name} fue creado")
  def total_value(self):
    return self.price*self.quantity
  def apply_discount(self):
    self.price=self.price*self.pay_rate

  #__repr__ representing self objects like the description.
  #In the item.all
  def __repr__(self):
    # return f"Item('{self.name}',{self.price},{self.quantity})"
    return f"{self.__class__.__name__}('{self.name}',{self.price},{self.quantity})"
  #You can get the instances from a csv file.
  #the @classmethod decorator will make Python pass the class of the instance it's called on as the first argument
  @classmethod
  def instantiate_from_csv(cls):
    with open("item.csv","r") as f:
      reader=csv.DictReader(f)
      items=list(reader)
      for i in items:
        Item(
            name=i.get("name"),
            price=float(i.get("price")),
            quantity=int(i.get("quantity"))
            )


  #The staticmethod never get the object as the first component.
  # the @staticmethod can be used to define a factory method that
  # returns class instances. It is unable to return a class object.
  #The isinstance() function checks if the object (first argument)
  #is an instance or subclass of classinfo class (second argument).
  @staticmethod
  def is_integer(num):
    if isinstance(num,float):
      return num.is_integer()
    elif isinstance(num,int):
      return True
    else:
      return False

# Item.is_integer()
# Item("Obj1",10,20)


#New class phone inheritance from item
#item is the parent class and phone one child class
class Phones(Item):
  class_all=[]
  #call super function to have acces to all atributes and methods.
  def __init__(self,name: str,price:float,quantity: int, broken_ph:int):
    super().__init__(
        name, price, quantity
    )
    #run validations
    assert broken_ph>=0, f"broken_ph {broken_ph} needs to be non-negative"

    #Objects
    self.broken_ph=broken_ph

    #Save the phones instances only
    self.class_all.append(self)

Item0=Item("Obj1",100,3)
Item1=Item("Phone android",180,3)
Item2=Item("Phone Iphone",240,2)
Item3=Item("Laptop",100,5)
Item4=Item("Sanwich",10,3)
Item5=Phones("Ph_1234",100,5,2)
Item5=Phones("Ph_5769",90,10,1)

Obj1 fue creado
Phone android fue creado
Phone Iphone fue creado
Laptop fue creado
Sanwich fue creado
Ph_1234 fue creado
Ph_5769 fue creado

In [156]:
print(Item.all)
print(Phones.all)
print(Phones.class_all)

[Item('Obj1',100,3), Item('Phone android',180,3), Item('Phone Iphone',240,2), Item('Laptop',100,5), Item('Sanwich',10,3), Phones('Ph_1234',100,5), Phones('Ph_5769',90,10)]
[Item('Obj1',100,3), Item('Phone android',180,3), Item('Phone Iphone',240,2), Item('Laptop',100,5), Item('Sanwich',10,3), Phones('Ph_1234',100,5), Phones('Ph_5769',90,10)]
[Phones('Ph_1234',100,5), Phones('Ph_5769',90,10)]

In [157]:
Item0.broken_obj=3

#Getters and setters

In [158]:
from item import Item
# from phones import Phones

Item0=Item("Obj1",100,3)
Item1=Item("Phone android",180,3)
Item2=Item("Phone Iphone",240,2)
Item3=Item("Laptop",100,5)
Item4=Item("Sanwich",10,3)

Obj1 fue creado
Phone android fue creado
Phone Iphone fue creado
Laptop fue creado
Sanwich fue creado

In [159]:
Item0.name_read_only

'Obj1'

In [160]:
Item0.name_setter="NuevoObj1"

You set the atribute NuevoObj1

In [161]:
Item0.name_read_only

'NuevoObj1'

In [162]:
#You can make only read objects. wiht @property
#in item we put the name as only read object:
'''
class Item():
  #class atributes
  pay_rate=0.9
  all=[]
  #class atributes can be defined for the class outside
  #like item.pay_rate=0.6
  def __init__(self,name: str,price:float,quantity: int):
    #Run validations
    assert price>=0, f"Price {price} needs to be non-negative"
    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"
    #assign self objects
    self._name=name
    self.quantity=quantity
    self.price=price
    #Save the instances that has been created.
    Item.all.append(self)
    print(f"{self.name} fue creado")
  #def the name as read only after it had been created
  @property
  def name_read_only(self):
    return self._name

We only can modify name wiht the underscore if its just one.
But we can hide it with double underscore in the lines 15 and 24
instead of just one underscore.
'''

'\nclass Item():\n  #class atributes\n  pay_rate=0.9\n  all=[]\n  #class atributes can be defined for the class outside\n  #like item.pay_rate=0.6\n  def __init__(self,name: str,price:float,quantity: int):\n    #Run validations\n    assert price>=0, f"Price {price} needs to be non-negative"\n    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"\n    #assign self objects\n    self._name=name\n    self.quantity=quantity\n    self.price=price\n    #Save the instances that has been created.\n    Item.all.append(self)\n    print(f"{self.name} fue creado")\n  #def the name as read only after it had been created\n  @property\n  def name_read_only(self):\n    return self._name\n\nWe only can modify name wiht the underscore if its just one.\nBut we can hide it with double underscore in the lines 15 and 24\ninstead of just one underscore.\n'

In [163]:
#Now if you want to set the atrbiute that we put in just read mode
#We can use @name.setter as example like:
'''
@name.setter
def name_setter(self,value):
  #we can put some adivce like:
  print(f"You set the atribute {value}")
  sel.__name=value
'''

'\n@name.setter\ndef name_setter(self,value):\n  #we can put some adivce like:\n  print(f"You set the atribute {value}")\n  sel.__name=value\n'

In [164]:
class Item():
  #class atributes
  pay_rate=0.9
  all=[]
  #class atributes can be defined for the class outside
  #like item.pay_rate=0.6
  def __init__(self,name: str,price:float,quantity: int):
    #Run validations
    assert price>=0, f"Price {price} needs to be non-negative"
    assert quantity>=0, f"Quantity {quantity} needs to be non-negative"
    #assign self objects
    self.__name=name
    self.quantity=quantity
    self.price=price
    #Save the instances that has been created.
    Item.all.append(self)
    print(f"{self.__name} fue creado")
  @property
  def name_read_only(self):
    return self.__name
  #Now if you want to set the atrbiute that we put in just read mode
  #We can use @name.setter as example like:
  @name_read_only.setter
  def name_setter(self,value):
    #we can put some adivce like:
    print(f"You set the atribute {value}")
    self.__name=value
  def total_value(self):
    return self.price*self.quantity
  def apply_discount(self):
    self.price=self.price*self.pay_rate

  #__repr__ representing self objects like the description.
  #In the item.all
  def __repr__(self):
    # return f"Item('{self.name}',{self.price},{self.quantity})"
    return f"{self.__class__.__name__}('{self.__name}',{self.price},{self.quantity})"
  #You can get the instances from a csv file.
  #the @classmethod decorator will make Python pass the class of the instance it's called on as the first argument
  @classmethod
  def instantiate_from_csv(cls):
    with open("item.csv","r") as f:
      reader=csv.DictReader(f)
      items=list(reader)
      for i in items:
        Item(
            name=i.get("name"),
            price=float(i.get("price")),
            quantity=int(i.get("quantity"))
            )


  #The staticmethod never get the object as the first component.
  # the @staticmethod can be used to define a factory method that
  # returns class instances. It is unable to return a class object.
  #The isinstance() function checks if the object (first argument)
  #is an instance or subclass of classinfo class (second argument).
  @staticmethod
  def is_integer(num):
    if isinstance(num,float):
      return num.is_integer()
    elif isinstance(num,int):
      return True
    else:
      return False


Item0=Item("Obj1",100,3)
Item1=Item("Phone android",180,3)
Item2=Item("Phone Iphone",240,2)
Item3=Item("Laptop",100,5)
Item4=Item("Sanwich",10,3)

Obj1 fue creado
Phone android fue creado
Phone Iphone fue creado
Laptop fue creado
Sanwich fue creado

In [165]:
Item0.name_read_only

'Obj1'

In [166]:
Item0.name_setter="Obj1_renovado"

You set the atribute Obj1_renovado

In [167]:
Item0.name_read_only

'Obj1_renovado'

In [168]:
Item.all

[Item('Obj1_renovado',100,3),
 Item('Phone android',180,3),
 Item('Phone Iphone',240,2),
 Item('Laptop',100,5),
 Item('Sanwich',10,3)]

#OOPs Principles

1. Encapsulation: mecanismo para restringir el acceso directo a algunos atributos. Ej: len caracter, valores, read only, etc...
2. Abstraction: Mostrar solo los atributos necesarios y ocultar los que no son necesarios de cara a los usuarios. Los pasos intermedios se ocultan con __ antes del metodo: def __escondido() como ejemplo.
3. Inheritance: Mecanismo para reutilizar codigo a traves de las clases, como ya vimos anteriormente.
4. Polymorphism: Concepto de utilizar diferentes clases en la misma interfaz, asociado a la generalidad del proyecto. En otras palabras, que al utilizar una sola clase pueda manejar distintos tipos de objetos.

Agradecimientos a freeCodeCamp por la orientación en OOPs.
Referencia: https://www.youtube.com/watch?v=Ej_02ICOIgs&t=5596s

#Aplicación posible a pipelines

Tomamos la base de datos del submit de titanic de kaggle, para reformular lo que realizamos en dicho proyecto disponile en:

In [169]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import KBinsDiscretizer
from sklearn.preprocessing import OneHotEncoder

#Imputación de age con su mediana.
class AgeImputer(BaseEstimator, TransformerMixin):
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    imputer=SimpleImputer(strategy="median")
    X["Age"]=imputer.fit_transform(X[["Age"]])
    return X
#Imputacion Fare con su mediana (testdataset)
class FareImputer(BaseEstimator, TransformerMixin):
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    imputer=SimpleImputer(strategy="median")
    X["Fare"]=imputer.fit_transform(X[["Fare"]])
    return X

#Imputación embarked con el más frecuente.
class EmbarkedImputer(BaseEstimator, TransformerMixin):
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    imputer=SimpleImputer(strategy="most_frequent")
    X["Embarked"]=imputer.fit_transform(X[["Embarked"]])
    return X
#Discretización data.
class Discretize(BaseEstimator, TransformerMixin):
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    discretize=KBinsDiscretizer(n_bins=4, encode='ordinal')
    X[["Age"]]=discretize.fit_transform(X[["Age"]])
    X[["Fare"]]=discretize.fit_transform(X[["Fare"]])
    X['Age'] = X['Age'].astype(int)
    X['Fare'] = X['Fare'].astype(int)
    # X=X.to_numpy
    return X
#Creamos titulo
class Titlecolumn(BaseEstimator, TransformerMixin):

  def fit(self,X,Y=None):
    return self
  def transform(self,X):
    X['Title'] = X.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    X['Title'] = X['Title'].replace(self.busqueda_otro, 'Otro')
    X['Title'] = X['Title'].replace('Mlle', 'Miss')
    X['Title'] = X['Title'].replace('Ms', 'Miss')
    X['Title'] = X['Title'].replace('Mme', 'Mrs')
    return X

#Creamos familypool
class Familypool(BaseEstimator, TransformerMixin):
  def fit(self,X,Y=None):
    return self
  def transform(self,X):
    X['Fpool'] = X['SibSp'] + X['Parch']
    return X
#Creamos Alone
class Alone(BaseEstimator, TransformerMixin):
  def fit(self,X,Y=None):
    return self
  def transform(self,X):
    X['Alone'] = 1 #initialize to yes/1 is alone
    X['Alone'].loc[X['Fpool'] > 0] = 0
    return X
class FeatureDrop(BaseEstimator, TransformerMixin):
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    return X.drop(self.eliminados,axis=1,errors="ignore")

#labelencoder
class NumericTransform():
  def fit(self,X,y=None):
    return self
  def transform(self,X):
    X["Embarked"].replace(["Q","S","C"],[0,1,2],inplace=True)
    X["Sex"].replace(["male","female"],[0,1],inplace=True)
    X["Title"].replace(["Master", "Miss", "Mr", "Mrs", "Otro"],[0,1,2,3,4],inplace=True)
    return X

In [170]:
#Generamos el pipeline con los estimadores establecidos anteriormente.
Titlecolumn.busqueda_otro=['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona']
FeatureDrop.eliminados=["Name","Ticket","Cabin","SibSp","Parch"]
from sklearn.pipeline import Pipeline
pipeline=Pipeline([
    ("ageimputer",AgeImputer()),
    ("fareimputer",FareImputer()),
    ("embarkedimputer",EmbarkedImputer()),
    ("title",Titlecolumn()),
    ("Fampool",Familypool()),
    ("alone",Alone()),
     ("discretize",Discretize()),
    ("featuredrop",FeatureDrop()),
    ("labelencoder",NumericTransform())

])

In [171]:
train=pd.read_csv("train.csv")
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [172]:
train_ejemplo=pipeline.fit_transform(train)
train_ejemplo

<ipython-input-169-42be6726d3c5>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Alone'].loc[X['Fpool'] > 0] = 0

,PassengerId,Survived,Pclass,Sex,Age,Fare,Embarked,Title,Fpool,Alone
0,1,0,3,0,1,0,1,2,1,0
1,2,1,1,1,3,3,2,3,1,0
2,3,1,3,1,1,1,1,1,0,1
3,4,1,1,1,3,3,1,3,1,0
4,5,0,3,0,3,1,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,0,1,1,1,4,0,1
887,888,1,1,1,0,2,1,1,0,1
888,889,0,3,1,2,2,1,1,3,0
889,890,1,1,0,1,2,2,2,0,1
890,891,0,3,0,2,0,0,2,0,1